*/{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Karla' ;
    color: #848484;
}

h3, .price-tag{
    color: #323A45;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2.5% 9%;
    color: #323A45;
}

ul{
    display: flex;   
}

li a{
    text-decoration: none;
    color: #323A45;
}

li a:hover {
    text-decoration: underline;
}

nav ul li{
    list-style: none;
}

ul li:nth-of-type(1), ul li:nth-of-type(2) {
    margin-right: 40px;
}

figure img{
    width: 100%;
}

figure img:hover{
  opacity: .2;
  transition: 1.1s;
}   

figure h3, figure p{
    font-size: 1rem;
    font-weight: lighter;
}

figure h3{
    padding-bottom: 0;
}

figcaption {
    display: flex;
    justify-content: space-between;
}

.gallery-shop {
    display: grid;
    padding: 0 6%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "fig-big fig-big fig-big"
}

.gallery-shop2 {
    display: grid;
    padding: 0 6%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "fig-big2 fig-big2 fig-big2"
}

.gallery-shop3 {
    display: grid;
    padding: 0 6%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "fig-big3 fig-big3 fig-big3"
}

.gallery-shop4 {
    display: grid;
    padding: 0 6%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "fig-big4 fig-big4 fig-big4"
}

.gallery-shop5 {
    display: grid;
    padding: 0 6%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "fig-big5 fig-big5 fig-big5"
}


.fig-big {
    grid-area: fig-big;
}

.fig-big2 {
    grid-area: fig-big2;
}

.fig-big3 {
    grid-area: fig-big3;
}

.fig-big4 {
    grid-area: fig-big4;
}

.fig-big5 {
    grid-area: fig-big5;
}

#contact-info{
    display: flex;
    color: #323A45;
    font-weight: lighter;
    justify-content: space-between;
    padding: 0 9%;
    padding-top: 4%;
}

#contact-info p {
    font-size: .8rem;
    margin:0;
    line-height: 1.5rem;
}

#contact-info h3 {
    font-size: 1rem;
    font-weight: 600;
}

#contact-info a{
    text-decoration: none;
    color: #323A45;
}

#contact-info a:hover{
    text-decoration: underline;
}

.design-shop span{
    display: block;
}

.design-shop a, .news a{
    font-weight: 700;
}

.contact a, .find-us a{
    font-size: .9rem;
    font-weight: 500;
}

footer {
    padding-left:8.5%;
    padding-top: 1%;
    padding-bottom: .5%;
    font-size: .8rem;
}


@media (min-width: 1200px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px){
    body{
        background: violet;
    }

    header h1{
        font-size: 1.2rem;
        padding-top: .7%;
        padding-left: 4%;
    }

    .gallery-shop {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "fig-big fig-big"
    }

    .gallery-shop2 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "fig-big2 fig-big2"
    }

    .gallery-shop3 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "fig-big3 fig-big3"
    }

    .gallery-shop4 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "fig-big4 fig-big4"
    }

    .gallery-shop5 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "fig-big5 fig-big5"
    }

    #contact-info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 25%;
        padding-left: 12%;
    }

    footer{
        padding-top: 10%;
        padding-left: 11%;
    }
}


@media (max-width: 576px) { 

    body{
        background: yellow;
    }

    header nav{
        display: none;
    }

   header h1{
       font-size: 1.3rem;
       padding-top: 5%;
       padding-left: 8.5%;
   }

    .hamburger{
        padding-top: 8%;
        padding-right: 10%;
    }

    label.hamburg { 
        display: block;
        background: #555; width: 42px; height: 40px; 
        position: relative; 
        margin-left: auto; margin-right: auto;
        border-radius: 4px; 
     }
    
    .line { 
        position: absolute; 
        left:7px;
        height: 3px; 
        width: 28px; 
        background: #fff; 
        border-radius: 2px;
        display: block; 
        transition: 0.5s; 
        transform-origin: center; 
     }
     
     .line:nth-child(1) { top: 8px; }
     .line:nth-child(2) { top: 19px; }
     .line:nth-child(3) { top: 30px; }
     

    .gallery-shop {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "fig-big"
    }

    .gallery-shop2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fig-big2"
    }

    .gallery-shop3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fig-big3"
    }

    .gallery-shop4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fig-big4"
    }

    .gallery-shop5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fig-big5"
    }

    #contact-info{
        display: block;
        padding-left: 16%;
    }

    footer{
        padding-left: 15%;
    }
}



